body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 3;
    padding: 1;
	/* Add your styles here */
}
#heading {
    text-align: center;
    color: #080808;
    font-size: 2em;
    font-style: italic;
    margin: 0;
    padding: 0;
}
